:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #ee4d2d;
    --border-color: #dbdbdb;
    --star-gold: #ffce3d;

    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(
        var(--header-height) - var(--navbar-height)
    );
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

/* Responsive */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

/* Coi 1 Row deu la 12 column o bat cu dau (mac du da chia 2 column o phan sidebar) nen ti le column 2-4 nghia la 12/5 =  2.4. Vi 1 hang se co 5 san pham. Width 20% la vi trong column 10 coi nhu 100% va co 5 san pham nen moi san pham se chiem 20% */
.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}
/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.2s;
}
.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    z-index: 5;
    border-radius: 5px;
    animation: growth linear 0.1s;
}
/* Button */
.button {
    min-width: 124px;
    height: 34px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    font-size: 1.5rem;
    line-height: 3.4rem;
    cursor: pointer;
    color: var(--text-color);
    background-color: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.button--size-s {
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}
.button.button--normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.button.button--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}
.fa-google {
    background: conic-gradient(
            from -45deg,
            #ea4335 110deg,
            #4285f4 90deg 180deg,
            #34a853 180deg 270deg,
            #fbbc05 270deg
        )
        73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
.app__content {
    padding-top: 24px;
}
.select-input {
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 0 1px 1px #ccc;
}
.select-input:hover .select-input__list {
    display: block;
    animation: fadeIn ease-in 0.2s;
}
.select-input__label {
    font-size: 1.4rem;
}
.select-input__icon {
    font-size: 1.4rem;
    color: #4a4a4a8a;
    position: relative;
    top: 1px;
    cursor: pointer;
}
.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 8px 16px;
    list-style: none;
    display: none;
    z-index: 5;
    box-shadow: 0 1px 5px rgb(196, 193, 193);
}
.select-input__link {
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 6px 0;
}
.select-input__link:hover {
    color: var(--primary-color);
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.pagination-item {
    margin: 0 12px;
}
.pagination-item span {
    cursor: default;
}
.pagination-item--active .pagination-item__link {
    background-color: var(--primary-color);
    color: var(--white-color);
}
.pagination-item--active .pagination-item__link:hover {
    opacity: 0.9;
}
.pagination-item__link {
    text-decoration: none;
    color: #939393;
    min-width: 40px;
    height: 30px;
    line-height: 30px;
    display: block;
    text-align: center;
    border-radius: 2px;
    font-size: 2rem;
}
.pagination-item__icon {
}
